/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #141414;
    color: #fbfdfe;
    font-family: "Aileron";
    letter-spacing: 1.5px;
}

@font-face {
        font-family: "Aileron";
        src: url(../fuentes/aileron-Regular.otf);
        font-weight: Regular;
        letter-spacing: 1.5px;
}

@font-face {
    font-family: "Aileron Thin";
    src: url(../fuentes/aileron-Thin.otf);
    font-weight: Thin;
    letter-spacing: 1.5px;
}

@font-face {
    font-family: "Aileron Bold";
    src: url(../fuentes/aileron-Bold.otf);
    font-weight: Bold;
    letter-spacing: 1.5px;
}

/* MENÚ DE NAVEGACIÓN Y HEADER 
#header {
background-color:#393a3adb;
width: 100%;
position: absolute;
z-index: 100;

}

#header .logo {
    width: 100px;
}

#header .navbar .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;

}

#header .navbar-collapse {
    flex-grow: 0;
}

#header ul li a {
    color: white;
    margin-right: 0 18px;
    font-family: "Aileron Bold";
    font-size: 1rem;
    letter-spacing: 1.5px;
}

#header ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 10px 10px 10px 10px;
    transform: scale(1.05);
}*/

header{
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color:#393a3adb;
    opacity: .8;
}
.logoNav{
    width: 100px;
}

.navbar-collapse{
    justify-content: flex-end;
    
}

.nav-item .nav-link {    
    text-transform: uppercase;
    color: white;
    font-family: "Aileron";
    font-size: 1rem;
    letter-spacing: 1.5px;}
.nav-link:hover{
    font-family: "Aileron Bold";
    }


/* PORTADA Y CARRUSEL DE IMAGENES */
.carousel-indicators {
    height: 0;
    margin-left: 0;
    margin-right: 0;
    width: 0;
}

/*Intro*/
.intro-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
}

.imagenIntro-container{
    min-width: 300px;
    display: flex;
    justify-content: flex-start; /*Centrar en el mobile"*/
    align-items: center;
}

.imagenIntro{
    width: 90%;
    height: auto;
}

.botonIntro{
    border-radius: 30px;
    padding: 20px;
    background-color: black;
    border: black;
    font-size: 2px;
    margin: 1rem;
}

.botonIntro a {
    text-decoration: none;
    color: white;  
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.botonIntro a:hover {
    color: black;
}

.botonIntro:hover {
    background-color: white;
    color: black;
    border-radius: 30px;
}



/* NOSOTROS */
#nosotros {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#nosotros .imagen-intro {
    padding: 10px;
    margin-top: 20px;
}

#nosotros .imagen-intro img {
    width: 450px;
}

.parrafo-intro {
    margin-top: 30px;
    padding: 20px;
}


.parrafo-intro h3 {
    font-size: 3rem;
    padding: 1.1rem;
    color: white;
    text-align: left;
}

.parrafo-intro p {
    font-size: 1.4rem;
    color: white;
    padding: 1.1rem;
    text-align: left;
}





#nosotros h2 {
    font-family: "Aileron Bold";
    font-size: 3rem;
    color: white;
    text-align: left;
    display: block;
    padding:1rem;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    letter-spacing: 1.5px;
    margin-top: 1.5rem;
}

#nosotros .nosotros-parrafo {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1.2rem;
    letter-spacing: 1.5px;
}

.posicionamientoNos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}


.posicionamientoNosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloque-Nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.8rem;
}

.nosotros-Uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 2rem;
}
.nosotros-Uno img {
    width: 300px;
    vertical-align: middle;
    align-self: middle;
}

.nosotros-Dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 2rem;
}

.nosotros-Dos img {
    width: 300px;
}

.nosotros-Tres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 2rem;
}

.nosotros-Tres img {
    width: 300px;
}

.nosotros-h5 {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.nosotros-p {
    font-size: 0.8rem;
    color: white;
    text-align: center;
} 

.bg-negro {
    background-color: black;
}

/* Clientes */
#clientes h2 {
    font-family: "Aileron Bold";
    font-size: 3rem;
    color: white;
    text-align: left;
    display: block;
    padding:1rem;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    letter-spacing: 1.5px;
    margin-top: 1.5rem;
}

.clientes-txt{
    
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1.2rem;
    letter-spacing: 1.5px;
}

.sliderMarcas{
    margin: 30px;
}
.slideItem{
    width: 150px;
    height: auto;
    margin: 0 50px;
}

.slick-dots li button:before{
    color: #fbfdfe;
}
.slick-dots li.slick-active button:before {
    color: #fbfdfe;
}



/*Business*/
#business{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;   
}

#business h2 {
    font-family: "Aileron Bold";
    font-size: 3rem;
    color: white;
    text-align: left;
    display: block;
    padding:1rem;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    letter-spacing: 1.5px;
    margin-top: 1.5rem;
}

.posicionamientoBusiness {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    

}

.businessTvc  p {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1.2rem;
    letter-spacing: 1.5px;
}
.businessImg{
    width: 500px;
    height: 250px;
    padding-left: 1.2rem;
}
.businnesItem{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.businessDetalle h3 {
    font-size: 2rem;
}

.businessDetalle p {
    font-size: 1.2rem;
}

.businessNumber{
    font-size: 30px;
    margin: 0;
    color: #666769;
    font-weight: bold;
}

.tvc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tvc-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}





/*Contacto*/
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.posicionamientoContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

#contacto h2 {
    font-family: "Aileron Bold";
    font-size: 3rem;
    color: white;
    text-align: left;
    display: block;
    padding:1rem;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    letter-spacing: 1.5px;
    margin-top: 1.5rem;
}

#contacto div form button {
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 10px;
    border: black;
}

.contactoTitulo p {
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 1.2rem;
    letter-spacing: 1.5px;
}

form {
    padding: 1.2rem;
}

form label {
    font-size: 1.2rem;
}

.contactoImg{
    width: 500px;
    height: auto;
    padding-top: 0.6rem;
    padding-left: 1.2rem;
}

.datosContacto {
    padding-top: 40px;
    font-family: "Aileron";
}

.datosContacto p img {
    background-color: white;
    border-radius: 100%;
    margin-right: 7px;
}

/*Footer*/

.footer {
    font-family: "Aileron";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #67696a4d;
    padding: 30px;
    letter-spacing: 1.5px;
    border-radius: 5px;
}

.suscribe h3{
    font-family: "Aileron Bold";
    font-size: 2rem;
    padding: 10px;
}
.suscribe p {
    font-size: 1.2rem;
    padding:10px;
}

.suscribe form input {
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}

.suscribe form button {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border: black;
}

.redes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.redes-title{
    font-family: "Aileron Bold";
    font-size: 2rem;
    padding: 10px;
}

.icon-redes{
    font-size: 25px;
    padding: 10px;
    color: white;
}

.fa-instagram:hover{
    color: #DD2A7B;
}
.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-linkedin:hover{
    color: #0E76a8;
}

/* Media queries */

@media all and (max-width:992px) {
    /* Menú/Header */

    .nav-item {
        text-align: center;
    }

    .nav-item .nav-link {
        font-family: "Aileron Bold";
        background-color: #878383;
        margin: 10px;
        border-radius: 10px;
        color: black;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: black;
    }
    .navbar-dark .navbar-nav .nav-link.active {
        color: black;
    }

    /* Nosotros */
    .posicionamientoNos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
    }

    #nosotros h2 {
        font-size: 2.2rem;
    }

    #nosotros .imagen-intro img{
        width: 300px;
    }

    .parrafo-intro {
        padding: 0px;
    }
    .parrafo-intro h3 {
        font-size: 2.2rem;
    }
    .parrafo-intro p {
        padding: 1.2rem;
        font-size: 1rem;
    }

    .nosotros-p {
        padding: 0.8rem;
        text-align: center;
    }

    #nosotros .nosotros-parrafo {
        padding: 0px;
        font-size: 1rem;
    }
    .posicionamientoNosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.2rem
    }
   

    .bloque-Nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .nosotros-Uno, .nosotros-Dos, .nosotros-Tres {
        width: 90%;
    }
        /* Clientes */

    #clientes h2 {
        font-size: 2.2rem;
    }

    .clientes-txt {
        font-size: 1rem;
    }

    /* Business */
    #business h2 {
        font-size: 2.2rem;
    }

    .posicionamientoBusiness {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0px;
    }

    .bloqueBusiness {
        padding: 1.2rem;    
    }

    .posicionamientoBusiness .businessImg {
        width: 100%;
        padding: 1.2rem;
    }

    .businessTvc p{
        font-size: 1rem;
    }

    .businessDetalle h3 {
        font-size: 1.6rem;
    }

    .businessDetalle p {
        font-size: 1rem;
    }
    /* Contacto */
    #contacto h2{
        font-size: 2.2rem;
    }

    .posicionamientoContacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .posicionamientoContacto .contactoImg {
        width: 100%;
        padding: 1.2rem
    }

    .contactoTitulo p{
        font-size: 1rem;
    }
    /* footer */
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
    }
    .footer .redes-container {
        padding-top: 1.5rem;
    }

    .suscribe p {
        font-size: 1rem;
    }

    .slider__desktop {
        display: none; }
}



@media all and (min-width:992px){
    .slider__mobile {
        display: none; }
}

@media all and (max-width:480px){
    .imagenIntro-container{

        justify-content: center; 

    }
    .intro-container{
        margin-top: 30px;
    }
}